//  Overwrites theme variables to add custom styling

* {
  font-family: "Assistant", sans-serif;
  font-weight: 200;
  color: #000000;
}
// Navbar Styling
.nav-bar {
  background-color: #beb7a9 !important;
}

// for drop down menu color
div.dropdown-menu.show {
  background-color: #beb7a9 !important;
  border: none !important;
}
.el-show,
a:hover {
  background-color: #beb7a9 !important;
  border: none !important;
}
.nav-font {
  font-family: "Assistant", sans-serif;
  background-color: #beb7a9 !important;
  .nav-title {
    font-family: "Belleza", sans-serif;
    font-size: 2em;
  }
}
.btn-default {
  background-color: #ef5328 !important;
  color: #ffffff;
  border-color: #ef5328 !important;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-color: #ef5328;
  color: #ffffff;
  border-color: #ef5328;
}
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
form-control:focus,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
  border-color: none !important;
}

// Wine Listings styling
.wl-container {
  margin: 1em;
  padding: 1em;
  background-color: #f6f0eb !important;
  border-color: #f6f0eb !important;
  outline: none;
  box-shadow: none;
  .card-title,
  .card-text {
    background-color: #f6f0eb !important;
  }
  .desc {
    background-color: #f6f0eb !important;
    width: 75vw;
    text-align: justify;
  }
}

@media only screen and (min-width: 820px) {
  .wl-container {
    margin: 1em 5em;
    .desc {
      width: 70vw;
    }
  }
}

// Comment / Title styling / New Wine Listing
.text-detail {
  display: inline-block;
  margin-bottom: 0 !important;
  font-weight: bold;
}

.page-title {
  text-align: center;
  padding: 0.5rem 0;
}

// Comment Styling
.comments-title {
  text-align: center;
  margin: 0.5em 0;
}
.btn-link:hover,
.btn-link:focus,
.btn-link:active,
.btn-link.active,
.open .dropdown-toggle.btn-link {
  background-color: #ef5328;
  color: #ffffff;
  border-color: #ef5328;
}
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
form-control:focus,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
  border-color: none !important;
}

.custom-btn {
  color: #898661 !important;
  font-weight: 500;
}

.custom-btn-delete {
  color: #ef5328 !important;
}

// Signup page
@media only screen and (max-width: 600px) {
  .button-form {
    display: flex !important;
    justify-content: center !important;
  }
  .button-mob {
    padding: 0.5rem 1rem !important;
    font-size: 1.25rem !important;
    border-radius: 0.5rem !important;
  }
  .signup-specs {
    border: none !important;
  }
}

@media only screen and (min-width: 600px) {
  .input-form {
    width: 35%;
    justify-content: center !important;
    align-items: center !important;
  }
  .signup-specs {
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center;
    border: none !important;
    margin-top: 2em !important;
  }
}

// Login Page
@media only screen and (max-width: 600px) {
  .signup-link {
    display: flex !important;
    justify-content: center !important;
  }
}

.custom-link,
.custom-link:hover {
  color: #898661 !important;
  background: none !important;
  font-weight: 400;
}

// About page

.about {
  height: 100vh;
  width: 100%;
  background-image: url("./assets/vineyard.png");
  background-size: cover;

  h2 {
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  p {
    margin: 1.5rem;
    text-align: justify;
  }
}

@media only screen and (min-width: 820px) {
  .about {
    h2 {
      font-size: 4rem;
    }
    p {
      width: 60%;
      margin: auto;
      margin-top: 1.5rem !important;
      font-size: 1.3rem;
    }
  }
}

// Comment Modal

.modal-container-top {
  background-color: #beb7a9;
}
.modal-title {
  margin-left: 1em !important;
  background-color: #beb7a9;
}
.modal-container-body {
  background-color: #f6f0eb;
  border: none;
}

@media only screen and (max-width: 820px) {
  .modal-title {
    margin-left: 4em !important;
  }
}

@media only screen and (min-width: 820px) {
  .modal-title {
    margin-left: 3.5em !important;
  }
}

// Error Page

.not-found {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

// New Wine Listing

.cwl-container {
  margin: 1em;
}

@media only screen and (min-width: 995px) {
  .cwl-container {
    margin: 2em 8em;
  }
  .desc-textarea {
    width: 98% !important;
  }
}

@import "~bootstrap/scss/bootstrap";
